html * {
   font-family: 'Roboto', sans-serif;
   background-color: #0e0e0e;
   color: white
}

header{
   margin: 0;
   padding: 0;
   padding-top: 5px;
   display: block;
   background-color: #171717;
   color: white;
   font-size: 24px;
   font-weight: bold;
}

.headerdiv{
  width: 85%;
  max-width: 1500px;
  margin: auto;
  background-color: #171717;
}

ul.horizontal-header{
   list-style-type: none; 
   margin: 0; 
   padding-top: 30px; 
   display: flex; 
   float: right;
   background-color: #171717;
}

ul.horizontal-header li { 
   margin-right: 25px;
   background-color: #171717; 
 }

 body {
   margin: 0;
   padding: 0;
 }
 
 .body-container {
   width: 85%;
   max-width: 1500px;
   margin: auto;
 }

 .home {
   padding-top: 50px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   vertical-align: middle;
 }
 
 .phone-img {
  margin: auto;
  height: 80%;
  padding-bottom: 80px
 }

.home-text {
  margin: auto;
  max-width: 600px;
  padding-bottom: 80px;
}

.home-text > h1 {
  font-size: 50px;
}

.home-text > p {
  font-family: "ITC Avant Garde Gothic Bold", sans-serif;
  line-height: 28px;
  font-size: 20px;
}

.download-img {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
}

.quick-info {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  padding-top: 100px;
  gap: 30px;
}

.block3 {
  margin: auto;
  margin-bottom: 50px;
  width: 420px;
  /* height: 270px; */
  padding: 20px 30px;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.squarewrapper {
  justify-content: center;
  text-align: center;
  background-color: #1a1a1a;
  margin-top: 30px;
  /* margin-left: 20px; */
}

.block3 > p {
  font-size: 20px;
  background-color: #1a1a1a; 
  border-radius: 5px; 
  padding: 0 0 0 15px;
}

.square {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 15px;
}

.center {
  text-align: center;
  align-content: center;
  margin-top: 17px;
}

.faq-section > h1{
  margin-left: 30px;
  padding-top: 120px;
  margin-bottom: 35px;
}

.faqs {
  margin-left: 30px;
  max-width: 80%;
  margin: auto;
}

.faqaccordion {
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: thin solid #a9acaa;
  text-align: left;
  outline: none;
  font-size: 22px;
  transition: 0.4s;
  
}

.lastaccordion {
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: thin solid #a9acaa;
  border-radius: 0 0 10px 10px;
  outline: none;
  font-size: 22px;
  text-align: left;
  transition: 0.4s;
}

.faqaccordion:first-child {
  border-radius: 10px 10px 0 0;
}

.active, .faqaccordion:hover {
  background-color: #00AE48;
}

.active, .lastaccordion:hover {
  background-color: #00AE48;
}

.faqaccordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.lastaccordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  border-radius: 1;
}

.panel {
  padding: 0 18px;
  font-size: 20px;
  background-color: #282828;
  border-left: thin solid #a9acaa;
  border-right: thin solid #a9acaa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel > p {
  background-color: #282828;
}

.stats {
  margin-top: 120px;
  margin-bottom: 120px;
}

.stats > h1 {
  margin-left: 30px;
  margin-bottom: 35px;
}

.glossary-wrapper {
  margin-bottom: 35px;
  margin-left: 50px;
}

.glossary {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.stat-desc-container {
  display: inline-block;
  width: 300px;

  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 5px;
  background-color: #1a1a1a;

}

.stat-desc-container > h3, .stat-desc-container > p {
  background-color: #1a1a1a;
}

footer {
  margin: auto;
  text-align: center;
  border-top: 0.5px solid #a9acaa;
  max-width: 75%;
  font-size: 12px;
}

