html * {
   font-family: 'Lato', sans-serif;
}

div.wrapper {
   width:100%;
   padding: 20px 10px;
   max-width: 900px;
   margin:0 auto;
}

h3 {
   color: #00AE48;
   font-size: 25px;
   /* padding-bottom: -100px; */
}

th, td {
   /* padding-left: 10%; */
 }