html * {
   font-family: 'Roboto', sans-serif;
   background-color: #0e0e0e;
   color: white
}

header{
   margin: 0;
   padding: 0;
   display: block;
   background-color: #171717;
   color: white;
   font-size: 24px;
   font-weight: bold;
}

.navbar {
  float: right;
  margin: auto;
  margin-top: 17px;
  overflow: hidden;
  background-color: #171717;
  padding-right: 10px;
}

.navbar a {
  float: right;
  display: inline;
  color: #f2f2f2;
  background-color: #171717;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
  padding-right: 10px;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: #171717;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:first-child {
  padding-top: 1000px;
}

.dropdown:hover .dropbtn {
  background-color: #00AE48;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #171717;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:last-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: bottom;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar a:first-child {
    margin-top: 52px;
  }
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 10px;
    top: 0;
    /* padding-left: 200px; */
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .navbar.responsive .dropdown {
    float: right;
  }
  .navbar.responsive .dropdown-content {
    position: relative;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: right;
  }
}


 body {
   margin: 0;
   padding: 0;
 }
 
 .body-container {
   width: 85%;
   max-width: 1500px;
   margin: auto;
 }

 .home {
   padding-top: 50px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   vertical-align: middle;
 }

 .float-img {
   width: 280px;
   height: 350px;
   border-radius: 5px;
   background-color: #00AE48;
   padding: 1em;
   margin: auto;
 }
 
 .phone-img {
  margin: auto;
  height: 700px;
  padding-bottom: 80px
 }

.home-text {
  margin: auto;
  max-width: 600px;
  padding-bottom: 80px;
  padding-left: 30px;
}

.home-text > h1 {
  font-size: 50px;
}

.home-text > p {
  font-family: "ITC Avant Garde Gothic Bold", sans-serif;
  line-height: 28px;
  font-size: 20px;
}

.download-img {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 30%;
}

.quick-info {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  padding-top: 100px;
  gap: 30px;
}

.block3 {
  margin: auto;
  margin-bottom: 50px;
  width: 420px;
  /* height: 270px; */
  padding: 20px 30px;
  background-color: #1a1a1a;
  border-radius: 10px;
}

.squarewrapper {
  justify-content: center;
  text-align: center;
  background-color: #1a1a1a;
  margin-top: 30px;
  /* margin-left: 20px; */
}

.block3 > p {
  font-size: 20px;
  background-color: #1a1a1a; 
  border-radius: 5px; 
  padding: 0 0 0 15px;
}

.square {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  margin: 15px;
}

.center {
  text-align: center;
  align-content: center;
  margin-top: 17px;
}

.faq-section > h1{
  margin-left: 30px;
  padding-top: 120px;
  margin-bottom: 35px;
}

.faqs {
  margin-left: 30px;
  max-width: 80%;
  margin: auto;
}

.faqaccordion {
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: thin solid #a9acaa;
  text-align: left;
  outline: none;
  font-size: 22px;
  transition: 0.4s;
  
}

.lastaccordion {
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: thin solid #a9acaa;
  border-radius: 0 0 10px 10px;
  outline: none;
  font-size: 22px;
  text-align: left;
  transition: 0.4s;
}

.faqaccordion:first-child {
  border-radius: 10px 10px 0 0;
}

.active, .faqaccordion:hover {
  background-color: #00AE48;
}

.active, .lastaccordion:hover {
  background-color: #00AE48;
}

.faqaccordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.lastaccordion:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  border-radius: 1;
}

.panel {
  padding: 0 18px;
  font-size: 20px;
  background-color: #282828;
  border-left: thin solid #a9acaa;
  border-right: thin solid #a9acaa;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel > p {
  background-color: #282828;
}

.stats {
  margin-top: 120px;
  margin-bottom: 120px;
}

.stats > h1 {
  margin-left: 30px;
  margin-bottom: 35px;
}

.glossary-wrapper {
  margin-bottom: 35px;
  margin-left: 50px;
}

.glossary {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.stat-desc-container {
  display: inline-block;
  width: 300px;

  padding: 10px;
  margin: 5px;
  border-style: solid;
  border-width: thin;
  border-color: white;
  border-radius: 5px;
  background-color: #1a1a1a;

}

.stat-desc-container > h3, .stat-desc-container > p {
  background-color: #1a1a1a;
}

footer {
  margin: auto;
  text-align: center;
  border-top: 0.5px solid #a9acaa;
  max-width: 75%;
  font-size: 12px;
}

