:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  

}

body{
  overflow-x: hidden;
  width: 100%;
  margin: 0 0px;
  align-items: center;
}

@media (max-width: 1023px) {
  .landing-container {
      margin: 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
  }
  .landing-description {
    bottom: 200px;
    text-align: left;
    align-items: center;
    width: 90%;
    position: relative;
  }
  .landing-description h1{
    font-size: 2.25rem;
    font-weight: 700;
  }
  .landing-description p{
    font-size: 1.125rem;
  }
  .landing-area-background{
    height: 105vh;
  }
  .landing-image-container {
      mask-image: linear-gradient(to bottom, #181818 60%, transparent 65%);
  }
  .phone-image-left {
    width: auto;
    height: 500px;
  }
  .phone-image-right {
    width: auto;
    height: 500px;
  }
  .feature-layout {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .feature-container {
    padding-bottom: 10vh;
  }
  .feature-container h2 {
    font-size: 2.25rem;
    line-height: 3rem;
    padding-bottom: 10px;
  }
  .feature-container h4 {
    font-size: 1.125rem;
    padding-bottom: 10px;
  }
  .feature-container p {
    font-size: 1.125rem;
  }
  .more-features-container {
    margin-left: 20px;
    margin-right: 200px;
  }
  .more-features-container h4 {
    font-size: 1.25rem;
    font-weight: 700;
  }
  .more-features-container p {
    font-size: 1.125rem;
    margin-bottom: 50px;
  }
  .download-container h2 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .download-container p {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .footer-links {
    gap: 5vw;
  }
  .footer-links p {
    margin: 0;
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .landing-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 1200px;
      margin-left: 20px;
  }
  .landing-description {
    text-align: left;
    align-items: center;
  }
  .landing-description h1{
    font-size: 3.75rem;
    font-weight: 700;
  }
  .landing-description p{
    font-size: 1.25em;
  }
  .phone-image-left {
    height: auto;
    max-width: 300px;
    padding-bottom: 100px;
  }

  .phone-image-right {
    height: auto;
    max-width: 300px;
    padding-top: 100px;
  }
  .feature-layout {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 100px;
      width: 100%;
      padding-bottom: 30vh;
  }
  .feature-container {
      justify-content: center;
      align-items: center;
      margin: auto;
  }
  .feature-container h2 {
    font-size: 3rem;
    line-height: 3rem;
    padding-bottom: 10px;
  }
  .feature-container h4 {
    font-size: 1.125rem;
    padding-bottom: 10px;
  }
  .feature-container p {
    font-size: 1.25rem;
  }
  .more-features-header {
    font-size: 3rem;
    font-weight: 700;
  }
  .more-features-container {
    display: grid;
    grid-auto-flow: column;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .more-features-container h4 {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .more-features-container p {
    font-size: 1.125rem;
  }
  .download-container h2 {
    font-size: 3rem;
  }
  .download-container p {
    font-size: 1.25rem;
  }
  .footer-links {
    gap: 10vw;
  }
  .footer-links p {
    margin: 0;
    font-size: 1.125rem;
  }

}

header{
  padding-top: 36px;
  padding-left: 18px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

.landing-area-background{
  background-color: #181818;
  background-image:
    radial-gradient(at 74% 72%, hsla(125, 34%, 27%, 0.28) 0px, transparent 25%),
    radial-gradient(at 69% 27%, hsla(126,100%,17%,0.4) 0px, transparent 25%),
    radial-gradient(at 1% 87%, hsla(120,54%,12%,0.88) 0px, transparent 25%);
    /* radial-gradient(at 0% 7%, hsla(120, 89%, 7%, 0.88) 0px, transparent 25%); */
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;

  -webkit-mask-image: linear-gradient(to bottom, #242424 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, #242424 70%, transparent 100%);

  width: 100vw;         /* Ensure full viewport width */
  position: relative;   /* Prevent overflow issues */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}



.landing-content {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

h2{
  margin: 0;
  font-size: 1.9em;
}

h3{
  font-size: 1.6em;
  line-height: 1.2;
}

h4{
  margin: 0;
}

.header-logo {
  width: 65px;
  height: 65px;
}

.header-subtitle {
  font-size: 1.0em;
  color: #888;
  font-weight: 350;
}


.landing-container {
  padding-bottom: 10rem;
  padding-top: 2rem;
}

.main-content {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.landing-description {  
  font-size: 1.2em;
  line-height: 1.5;
}

.landing-image-container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-layout {

  background-image: url('/BaseballFieldBlueprint.png'); /* Update with your image path */
  background-size: 1000px; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* Keeps image fixed as you scroll */

}

.feature-container {
  /* max-width: 500px; */
  margin-bottom: 100px;
  margin: auto 20px;

}

.feature-container h4 {
  color: #00AE48;
  margin-bottom: 10px;
}

.feature-container h2 {
  margin-bottom: 10px;
}

.feature-description {
  margin: 0;
  font-size: 1.2em;
}

.feature-image {
  max-width: 300px;
  height: auto;
}

.overlay-image-container {
  display: flex;
  justify-content: center;
}

.underlay-image {
  margin-left: 150px; /* Adjust this value to position the overlay image */
}

.overlay-image {
  position: absolute;
  z-index: 1; /* Ensure it sits above other content */
  margin-right: 150px;
}

.save-features-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.save-feature-image {
  width: 350px;
  height: auto;
}

.more-features-background {
  background: url(dirtgradient.svg) 100%;
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-mask-image: linear-gradient(to top, #242424 97%, transparent 100%);
  mask-image: linear-gradient(to top, #242424 97%, transparent 100%);

  /* -webkit-mask-image: ;
  mask-image: linear-gradient(to bottom, #242424 97%, transparent 100%);  */

  width: 100vw;        /* Ensure full viewport width */
  position: relative;   /* Prevent overflow issues */
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-bottom: 100px;
  justify-content: center;
  
}

.more-features-container {
  padding-top: 25px;
  padding-bottom: 75px;

  max-width: 1200px; 
  width: 100%;
}

.more-features-header {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 25px;
}

.more-features-section p{
  line-height: 1.7;
  font-size: 1.2em;
  margin-right: 40px;
  margin-left: 40px;
}

.more-features-section h4{
  margin-left: 40px;
}

.download-container { 
  vertical-align: middle;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-image: linear-gradient(#13942d 65%, #04771b 75%, transparent 110%);
  border-radius: 15px;
  width: 80%;
  max-width: 1000px;
  padding: 50px;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

footer a:hover {
  color: #00AE48
}

.footer-links {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer-logo-container {
  text-align: center;
}

.footer-logo {
 width: 40px;
 height: 40px;
 vertical-align: middle;
}

.footer-text {
  margin: 0;
  margin-bottom: 30px;
  margin-left: 15px;
}

.my-horizontal-line {
  border: none; /* Remove default border */
  border-top: 0.5px solid #8c8c8c; /* Add a top border to create the line */
  margin: 0; /* Add some vertical spacing */
  margin-bottom: 10px;
  width: 100%; /* Ensure it spans the full width of its container */
}

.private-policy-container {
  /* max-width: 800px; */
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  line-height: 1.6;
  gap: 20px;
  background: white;
  color: black;
}
.private-policy-contents {
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.private-policy h2{
  font-size: 2.25rem;
  font-weight: 800;
}

.private-policy h3{
  font-size: 1.5rem;
  font-weight: 700;
}

.private-policy p, li {
  font-size: 1rem;
}

.private-policy-divider {
  margin: 150px 0;
}

.terms-of-service-container {
  /* max-width: 800px; */
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  line-height: 1.6;
  gap: 20px;
  background: white;
  color: black;
}
.terms-of-service-contents {
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.terms-of-service h2{
  font-size: 2.25rem;
  font-weight: 800;
}

.terms-of-service h3{
  font-size: 1.5rem;
  font-weight: 700;
}

.terms-of-service p, li {
  font-size: 1rem;
}

.help-and-support {
  color: white;
  background: black;
  display: flex;
  align-items: center; /* Vertically centers */
  justify-content: center; /* Horizontally centers */
  height: 100vh;
}